<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="view-transition" content="same-origin">
	<meta name="htmx-config" content='{"transitions":true}'>

	<title>Nícolas Spaniol</title>

    <!-- avoids favicon requests -->
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgo=">

	<!-- tailwind -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    <!-- htmx 4 -->
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta6" integrity="sha384-6lyVbhrs13b9z7mLOpt/N6R76rtkEBWgCjAXRs/DSWyi2AMnQSs10ijWk+PI8n7W" crossorigin="anonymous"></script>
</head>
<body class="min-h-screen bg-lime-100 text-yellow-900 m-10 font-serif">
    <h1 class="text-3xl">Nícolas Mateus Spaniol</h1>
	<hr class="mb-3">
	<p>page under construction!</p>
</body>
</html>

