<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <meta name="htmx-config" content='{"transitions":true}'>

    <title>{% block title %}Nícolas Spaniol{% endblock %}</title>

    <!-- avoids favicon requests -->
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgo=">

    <!-- tailwind -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body class="mx-3 min-h-screen bg-orange-100 text-yellow-950 m-10 font-serif flex flex-col">
    <main class="mx-auto max-w-full w-250">
        <header>
            <a href="/"><h1 class="text-3xl">Nícolas Mateus Spaniol</h1></a>
            <hr class="mb-3">
        </header>
        {% block main %}{% endblock %}
    </main>
</body>
</html>

